@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body
{
	margin: 0;
	font-family: calibri;
	background: #F0EDE5;
}

.main
{
	display: flex;
}
.main>.left
{
	width: 30%;
	/*height: 100vh;*/
	background: #EDF1FF;
	margin: 1%;
	box-shadow:0 0 10px black;
}
.main>.left>.box1
{
	position: relative;
}
.main>.left>.box1>img
{
	width: 100%;
}
.main>.left>.box1>h1
{
	position: absolute;
	bottom:0;
	padding: 2%;
}
.main>.left>a
{
	display: block;
	text-decoration: none;
	color:#343148;
	font-weight: bold;
	padding: 2%;
	margin: 2%;
	text-transform: capitalize;
}
.main>.left>.box2
{
	padding: 3%;
}
.main>.left>.box2>p
{
	color:#231F20;
}
.main>.left>.box2>p>.fa
{
	margin-right: 5%;
}

.main>.left>.box2>.line
{
	margin-top: 2%;
	margin-bottom: 2%;
}
.main>.left>.box2>.line>.silver
{
	margin-top: 4%;
	background: #e1e1e1;
	border-radius: 20px;
}
.main>.left>.box2>.line>.silver>.green
{
	background: #798EA4;
	color:white;
	border-radius: 100px;
	text-align: center;
}
.main>.right
{
	width: 70%;
}
.main>.right>.box
{
	margin: 2%;
	padding: 2%;
	background: #EDF1FF;
	box-shadow:0 0 10px black;
	padding: 2%;	
}
.main>.right>.box>.body
{
	padding: 2%;
}


.footer
{
	background: #34568B;
	color:White;
	text-align: center;
	padding: 2%;
}
.footer>.fa
{
	color: white;
}

@media (max-width: 900px)
{
	.main
	{
		flex-flow: column;
	}
	.main>.left,
	.main>.right
	{
		padding: 1%;
		margin:1% auto;
		width: 90%;
	}
}
.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #926AA6;
    border-color: #00A170;
}
